@model IEnumerable<ForumUniversitario.Entidades.Publication>

@{
    ViewData["Title"] = "UniSync";

}

<div class="container mx-auto p-1 mt-3">
    <div class="row">

        <div class="col-md-2 col-xl-2 col-lg-12">
            <div class="mt-3">@Html.Partial("_LoginPartial")</div>
            <div class="bg-gray-general p-4 rounded mt-4">
                <h3 class="text-lg font-bold">Top 3 Usuários com Mais Postagens</h3>
                <ul class="mt-2">
                    @foreach (var userGroup in Model.GroupBy(p => p.UserId).OrderByDescending(g => g.Count()).Take(3))
                    {
                        var user = userGroup.First().User;
                        <li class="text-wrap">@user.AccountName - @userGroup.Count() Posts</li>
                    }
                </ul>
            </div>
        </div>


        <div class="col-md-8">
            <div class="timeline mt-4">
                <div class="create-post-button bg-gray-general">
                    <div class="button-border bg-gray-general-lighter">
                        <div class="button-content flex items-center">
                            <button id="openCreateModalBtn" class="font-color-white flex align-items-center">
                                <img src="Icons/createPublication.svg" alt="">
                                <span class="p-1">Criar Publicação</span>
                            </button>
                        </div>
                    </div>
                </div>

                @foreach (var publicacao in Model)
                {
                    <div class="bg-gray-general p-4 rounded shadow mb-4 mt-4  remove-link-styles">
                        <a asp-action="Details" asp-route-id="@publicacao.Id">
                            <div class="d-flex justify-content-between mb-2">
                                <p>
                                    @publicacao.User.AccountName • <span class="small-font roboto-font text-gray-500"> Postado em @publicacao.Community.Name</span>
                                </p>
                                <p class="text-gray-500">@publicacao.CreatedAt</p>
                            </div>
                            <h3 class="text-2xl font-bold ">
                                @publicacao.Title
                            </h3>
                            <p class="mt-2">@publicacao.Content</p>

                            <br/>
                            <div class="d-flex align-items-center gap-4">
                                <a href="#" data-publication-id="@publicacao.Id" class="like-button">
                                    <img src="\Icons\heart.svg" alt="like">
                                </a>
                                <div class="like-status" data-publication-id="@publicacao.Id"></div>
                                @* ABRIR A MODAL DE COMENTAR *@
                                <button class="show-comment-button" data-publication-id="@publicacao.Id">
                                    <img src="\Icons\message_square.svg" alt="comentar">
                                </button>

                            </div>

                            <br/>

                            <div class=" mt-4 comment-box comment-box-@publicacao.Id">
             <form id="commentForm-@publicacao.Id">
                        <textarea class="bg-gray-general-lighter p-1 rounded-10px w-100" id="commentText-@publicacao.Id" rows="3" placeholder="Digite seu comentário..."></textarea>
                        <button type="button" class="comment-button" data-publication-id="@publicacao.Id">Comentar</button>
                    </form>
                            </div>

                        </a>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-2">
            <!-- Espaço para anúncios -->
            <div class="border-1 p-4 rounded mt-4">
                <h3 class="text-lg font-bold">Anúncios</h3>
                <p class="mt-2">Espaço reservado para futuramente adicionar anúncios.</p>
            </div>
        </div>
    </div>
</div>

<div id="createModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-gray-general">
            <div class="modal-header">
                <h5 class="modal-title">Criar Publicação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<style>
textarea:focus, input:focus {
outline: none;
}
</style>


<script>
$(document).ready(function () {
    
    $(".show-comment-button").click(function () {
    var publicationId = $(this).data("publication-id");
    $(".comment-box-" + publicationId).show();  
    $(this).hide();
}); 
    $(".comment-button").click(function (event) {
        var $commentButton = $(this);
        var publicationId = $commentButton.data("publication-id");
        var content = $("#commentText-" + publicationId).val();

        // if (content.length < 10) {
        //     errorElement.text("O comentário deve ter mais de 10 caracteres.");
        //     return; // Impede o envio do comentário
        // } else {
        //     errorElement.text(""); // Limpa a mensagem de erro se o conteúdo for válido
        // }
        
        var comment = {
        content: content,
        publicationId: publicationId,
        parentId: null
        };
        
        $.ajax({
            type: "POST",
            url: `/Comment/CreateComment`, // Ajuste a URL conforme necessário
            contentType: "application/json",
            data: JSON.stringify(comment),
            success: function (response) {
            alert(response);
            $("#commentText-" + publicationId).val("");
        },
            error: function (xhr, status, error) {
            alert("Erro ao criar comentário: " + error.responseJSON);
        }
        });
    });
});

$("#openCreateModalBtn").click(function () {
    $.get("/Publication/Create", function (data) {
    $("#createModal .modal-body").html(data);
    $("#createModal").modal("show");
        });
    });

$(document).ready(function () {
    // Verificação inicial de curtida para cada botão
    $(".like-button").each(function () {
    var $likeButton = $(this);
    var publicationId = $likeButton.data("publication-id");
    var checkLikeUrl = "/Publication/" + publicationId + "/isliked";
    var $iconImage = $likeButton.find("img");
    
    $.ajax({
        type: "GET",
        url: checkLikeUrl,
        success: function (isLiked) {
        if (isLiked) {
        $iconImage.attr("src", "/Icons/heart_liked.svg");
        }
        },
        error: function (xhr, status, error) {
        console.log("Erro ao verificar curtida:", error);
        }
        });
    });

$(".like-button").click(function (event) {

    event.preventDefault();
    
    var $likeButton = $(this);
    var publicationId = $likeButton.data("publication-id");
    var likeUrl = "/Publication/LikePublication/" + publicationId;
    var checkLikeUrl = "/Publication/" + publicationId + "/isliked";
    
    $.ajax({
        type: "POST",
        url: likeUrl,
        success: function () {
        // Após curtir/descurtir, faça uma chamada AJAX para atualizar o status de curtida
        $.ajax({
        type: "GET",
        url: checkLikeUrl,
        success: function (isLiked) {
            var $iconImage = $likeButton.find("img");
    
            if (isLiked) {
            $iconImage.attr("src", "/Icons/heart_liked.svg");
            } else {
            $iconImage.attr("src", "/Icons/heart.svg");
            }
        },
            error: function (xhr, status, error) {
            console.log("Erro ao verificar curtida:", error);
             }
         });
    },
    
        error: function (xhr, status, error) {
        console.log("Erro ao curtir a publicação:", error);
        }
        });
    });
});
</script>